/*Geral: */
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-image: url("../Img/BG.svg");
    background-position: center center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
/*Atributos*/
ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.AlingContent{
    margin: 0 auto;
    max-width: 120rem;
    padding: 3rem;
}
body .full_width_flex{
    width: auto;
    flex: 1 1 auto;
}
.CompletePage{
    min-height: 100vh;
}
.PaddingMenu{
    padding-top: 10rem;
}
/*Menu Simples*/
.MenuS{
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0.5rem 0.5rem 0.5rem 1rem #0000003b;
    z-index: 2;
}
.MenuS div img{
     width: 5.4rem;
    height: 5.4rem;
}
.ItemsMS a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    transition: all 300ms ease-out;
    padding: 0 0.5rem;
}
.ItemsMS a:hover{
    color: #ffbc0d;
    border-bottom: 0.1rem solid #ffbc0d;
}
.MenuS div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.SInSOut{
    margin: 0 0.5rem;
    padding: 1rem;
    font-weight: bold;
    background-color: #ffbc0d;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}
/*Sing MS*/
.Sing input{
    padding: 0.5rem;
    border-radius: 3%;
    border: 0.1rem solid #00000010;
    background-color: #00000005;
}
.Sing{

    display: none;
    position: fixed;
    
    left: 30%;
    margin-top: 10rem;
    background-color: white;
    text-align: center;
    border: 0.1rem solid #0000003b;
    border-radius: 10%;
    width: 48rem;
    height: 48rem;
    z-index: 5;
    transition: all 300ms ease-out ;
}
.Sing img{
    width: 3.2rem;
    height: 3.2rem;
    margin: 0.5rem;
}
.Sing button{
    margin: 0.5rem;
    padding: 1rem;
    font-weight: bold;
    background-color: #ffbc0d;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}
.Sing .ExitSinSout{
    font-size: 3rem;
    padding: 0.2rem 1rem;
    background: none;
    margin-bottom: 10%;
}
/*Home*/
.TextHome{
    text-align: center;
    margin: 0.5rem;
}
.GridHome{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(3.2rem,50%));
}
.GridHome img{
    width: 100%;
    margin: 0.5rem;
}
.TextHome h1{
    font-size:5rem;
}